<section id="sign_in">
  <header id="logo">
    <%= image_tag "logo.png", width: "256", height: "96" %>
  </header>

  <section id="sign_in_form">
    <header>
      <h1>Connectez-vous pour continuer</h1>
    </header>

    <% if @sign_in_error %>
      <p class="error">
        <%= @sign_in_error %>
      </p>
    <% end %>

    <%= form_tag sign_in_path do |t| %>
      <div class="fields">
        <div class="field">
          <%= text_field_tag :username, params[:username], placeholder: "Nom d'utilisateur" %><br />
        </div>
        <div class="field">
          <%= password_field_tag :password, "", placeholder: "Mot de passe" %>
        </div>
      </div>

      <div class="actions">
        <%= submit_tag "Connexion &rarr;".html_safe %>
      </div>

      <div class="field">
        <%= check_box_tag :remember_me %>
        <label for="remember_me">Se souvenir de moi</label>
      </div>
    <% end %>
  </section>

  <section id="help_message">
    <p>Besoin d'aide ? <a href="mailto:gabriel.malkas@insa-rennes.fr">Contacter le responsable technique</a></p>
  </section>
</section>
