<li class="event <%= notification.style %>">
  <time datetime="<%= notification.created_at %>"><%= l notification.created_at.to_time, format: :short %></time>
  <%= link_to notification.teacher.name, teacher_path(notification.teacher) %> a démissioné du poste de responsable de l'U.E <%= link_to notification.course.name, notification.course %>
</li>
