<% title "Tableau de bord" %>

<header> 
  <hgroup>
    <h1>Tableau de bord</h1>
  </hgroup>
</header>

<%= render 'shared/flash_messages' %>

<section class="active-year">

  <section class="utilities nav-tools">
    <header>
      <%= link_to "Gestion des années scolaires &rarr;".html_safe, school_years_path %>
    </header>
  </section>

  <% if @school_year %>
    <header>
      <h1>Année en cours / <%= @school_year %></h1>
    </header>

    <%= render 'school_years/active_year', active_school_year: @school_year %>
  <% else %>
    <header>
      <h1>Année en cours</h1>
    </header>
    <p class="notice">Aucune année scolaire n'est active.</p>
  <% end %>
</section>

<section class="recent-activity">

  <section class="utilities nav-tools">
    <header>Depuis</header>

    <%= render 'date_range_filters' %>
  </section>

  <header>
    <h1>Activité récente</h1>
  </header>

  <% if @notifications.empty? %>
    <p class="notice">Aucune activité récente.</p>
  <% end %>

  <% @notifications.each do |date, notifications| %>
    <article>
      <header>
        <h1><%= l date, format: :human %></h1>
      </header>

      <ol>
        <% notifications.each do |notification| %>
          <%= render 'notifications/notification', notification: notification %>
        <% end %>
      </ol>
    </article>
  <% end %>
</section>
