<section id="form">
  <header id="logo">
    <%= image_tag "logo.png", width: "256px", height: "96px" %>
  </header>

  <section id="sign_in">
    <header>
      <h1>Connectez-vous pour continuer</h1>
    </header>
    
    <p style="margin: 0.5em; padding: 0.5em;">
      <%= current_user.name if current_user %>
    </p>

    <%= form_tag do |t| %>
      <div class="fields">
        <div class="field">
          <%= text_field_tag :username, "", placeholder: "Nom d'utilisateur" %><br />
        </div>
        <div class="field">
          <%= password_field_tag :password, "", placeholder: "Mot de passe" %>
        </div>
      </div>

      <div style="float: right;" class="actions">
        <%= submit_tag "Connexion &rarr;".html_safe %>
      </div>

      <div class="labeled_field">
        <input type="checkbox" id="remember_me" /> <label for="remember_me">Se souvenir de moi</label>
      </div>
    <% end %>
  </section>

  <section style="text-align: center; font-size: 0.875em; color: #2B2B2B;" id="help">
    <p>Besoin d'aide ? <a href="">Contacter le responsable technique</a></p>
  </section>
</section>
