<% title "Enseignants" %>

<header>
  <h1>Enseignants</h1>
</header>

<%= render 'shared/flash_messages' %>

<section class="teachers-stats">
  
  <% if current_user.administrator? %>
    <section class="utilities nav-tools">
      <header>
        <%= link_to "Ajouter un enseignant &rarr;".html_safe, new_teacher_path %>
      </header>
    </section>
  <% end %>

  <header>
    <h1>Résumé</h1>
  </header>

  <article>
    <p><%= pluralize @teachers.count, "Enseignant" %></p> 
  </article>
</section>

<section class="teachers">
  <header>
    <h1>Liste des enseignants</h1>
  </header>

  <% if @teachers.empty? %>
    <p class="notice">Aucun professeur ne s'est inscrit.</p>
  <% else %>
    <% @indexes.each do |letter, teachers| %>

      <h2><%= letter %></h2>
      <% teachers.each do |teacher| %>

        <article class="teacher">
          <%= image_tag "plus_alt_16x16.png", class: "show-details", atl: "+" %>
          <h3><%= link_to teacher.name, teacher_path(teacher) %></h3>

          <p class="informations">
            &rarr; 
            <% if teacher.responsabilities.any? %>
              <span class="manager-name responsabilities-count"><%= pluralize(teacher.responsabilities.count, 'responsabilité') %></span>
            <% end %>
            <% if teacher.activities.any? %>
              <span class="manager-name activities-count"><%= pluralize(teacher.activities.count, 'activité') %></span>
            <% end %>
            <span class="manager-name work-time"><%= pluralize(teacher.work_time, 'heure') %></span>
          </p>

          <div class="details">
            <h4>Responsabilités</h4>

            <% if teacher.responsabilities.any? %>
              <ul>
                <% teacher.responsabilities.each do |course| %>
                  <li><%= link_to course.name, school_year_course_path(course.semester.school_year, course) %></li> 
                <% end %>
              </ul>
            <% else %>
              <p class="notice">Aucune responsabilité</p>
            <% end %>
            
            <h4>Activités</h4>

            <% if teacher.activities.any? %>
              <ul>
                <% teacher.activities.each do |activity| %>
                  <li><%= activity.type %> de <%= link_to activity.course.name, school_year_course_path(activity.course.semester.school_year, activity.course) %></li> 
                <% end %>
              </ul>
            <% else %>
              <p class="notice">Aucune activité</p>
            <% end %>
          </div>
          
        </article>
      <% end %>
    <% end %>
  <% end %>
</section>
