<% title "Ajouter un enseignant", @active_school_year %>

<header>
  <h1><%= @active_school_year %> / Ajouter un enseignant</h1>
</header>

<%= render 'shared/flash_messages' %>

<section>
  <% if @teacher.errors.any? %>
    <p class="error">
      Ce formulaire comporte <%= pluralize @teacher.errors.count, "erreur" %>.
    </p>
  <% end %>

  <%= form_for @teacher, url: teachers_path, html: { class: 'centered-form' } do |t| %>
    <div class="fields">
      <div class="field">
        <%= t.text_field :lastname, placeholder: "Nom" %><br />
        <p class="description">
          <%= render 'shared/form_error', resource: @teacher, field: :lastname %>
        </p>
      </div>
      <div class="field">
        <%= t.text_field :firstname, placeholder: "Prénom" %><br />
        <p class="description">
          <%= render 'shared/form_error', resource: @teacher, field: :firstname %>
        </p>
      </div>
      <div class="field">
        <%= t.text_field :username, placeholder: "Nom d'utilisateur" %><br />
        <p class="description">
          <%= render 'shared/form_error', resource: @teacher, field: :username %>
        </p>
      </div>
      <div class="field">
        <%= t.text_field :email, placeholder: "Adresse email" %><br />
        <p class="description">
          <%= render 'shared/form_error', resource: @teacher, field: :email %>
        </p>
      </div>
      <div class="field">
        <%= t.text_field :status, placeholder: "Statut" %><br />
        <p class="description">
          <%= render 'shared/form_error', resource: @teacher, field: :status %>
        </p>
      </div>
    </div>

    <div class="actions">
      <%= t.submit "Ajouter &rarr;".html_safe %>
    </div>
  <% end %>
</section>
