<% title "Années scolaires" %>

<header>
  <hgroup>
    <h1>Années scolaires</h1>
  </hgroup>
</header>

<%= render 'shared/flash_messages' %>

<% if @school_years.empty? %>
  <p class="notice">
    Il n'y a aucune année scolaire. Vous pouvez en créer une à l'aide du formulaire présent sur cette page.
  </p>
<% end %>

<% if @active_school_year %>
  <section class="active-year">
    <section class="utilities nav-tools">
      <header>
        ( <%= link_to "Archiver", archive_school_year_path(@active_school_year), method: :post %>
        <%= link_to "Désactiver", disable_school_year_path(@active_school_year), method: :post %>
        <%= link_to "Supprimer", @active_school_year, method: :delete, confirm: 'Êtes-vous sûr de vouloir définitivement supprimer cette année scolaire ? Toutes les données associées seront perdues !', class: 'warning' %> )
      </header>
    </section>

    <header>
      <h1>Année en cours / <%= @active_school_year %></h1>
    </header>

    <%= render 'school_years/active_year', active_school_year: @active_school_year %>
  </section>
<% end %>

<% if @archived_school_years.any? %>
  <section class="archives">
    <header>
      <h1>Archives</h1>
    </header>

    <ol>
      <% @archived_school_years.each do |sc| %>
        <li>
          <%= link_to sc, sc %>
          <span class="actions">
            (<%= link_to "Activer", activate_school_year_path(sc), method: :post %> 
            <%= link_to "Retirer des archives", restore_school_year_path(sc), method: :post %>
            <%= link_to "Supprimer", sc, method: :delete, confirm: 'Êtes-vous sûr de vouloir définitivement supprimer cette année scolaire ? Toutes les données associées seront perdues !', class: 'warning' %>)
          </span>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>

<% if @disabled_school_years.any? %>
  <section class="archives">
    <header>
      <h1>Autres</h1>
    </header>

      <ol>
        <% @disabled_school_years.each do |sc| %>
          <li>
            <%= link_to sc, sc %>
            <span class="actions">
              (<%= link_to "Activer", activate_school_year_path(sc), method: :post %> 
              <%= link_to "Supprimer", sc, method: :delete, confirm: 'Êtes-vous sûr de vouloir définitivement supprimer cette année scolaire ? Toutes les données associées seront perdues !', class: 'warning' %>)
            </span>
          </li>
        <% end %>
      </ol>
  </section>
<% end %>

<section class="new-school-year-form">
  <header>
    <h1>Créer une année scolaire</h1>
  </header>

  <% if @school_year.errors.any? %>
    <p class="error">
      <% @school_year.errors[:start_date].each do |e| %>
        <strong class="error"><%= @school_year.errors.full_message(:start_date, e) %></strong><br />
      <% end %>
    </p>
  <% end %>

  <%= form_for @school_year, html: { class: 'inline-form' } do |t| %>
    <div class="fields">
      <div class="field">
        <%= t.text_field :start_year, placeholder: "Année de départ, e.g 2011" %>
        <%= submit_tag "Créer &rarr;".html_safe %>
      </div>
    </div>
  <% end %>
</section>
