<article class="course">
  <%= image_tag 'plus_alt_16x16.png', alt: '+', class: 'show-details' %>
  <h3><%= link_to course.name, school_year_course_path(@school_year, course) %></h3>

  <p style="" class="informations">
    &rarr;
    <span class="manager-name"><%= course.manager.name %></span>
    <span style="display: inline-block; margin: 0 0.25em; background-color: #943500; color: #FFF; border-radius: 4px; padding: 0.1em 0.3em;"><%= pluralize(course.activities.size, "activité") %></span>
  </p>

  <div class="details">
    <div class="activities">
      <% course.activities.each do |activity| %>
        <h4><%= activity.type %> &rarr; <%= pluralize(activity.groups, "groupe") %>, <%= pluralize(activity.duration, "heure")%>/groupe</h4>
        
        <% if activity.candidates.any? %>
          <h5>Candidats</h5>

          <ul>
            <%= render partial: "teachers/activity_candidate_item", collection: activity.candidates, as: :candidate, locals: { activity: activity } %>
          </ul>
        <% end %>

        <% if activity.teachers.any? %>
          <h5>Enseignants</h5>

          <ul>
            <%= render partial: "teachers/activity_teacher_item", collection: activity.teachers, as: :teacher, locals: { activity: activity } %>
          </ul>
        <% end %>

      <% end %>
    </div>

    <p class="actions">
      <% if can? :create, course.activities.build %> 
        <%= link_to "Créer une activité", new_school_year_course_activity_path(@school_year, course), class: "button icon add" %>
      <% end %>
      <% if can? :resign, course %>
        <%= link_to "Démissionner", resign_as_manager_course_path(course), method: :post, class: "button" %>
      <% end %>
      <% if can? :assign, course %>
        <%= link_to "Choisir le responsable", pick_manager_school_year_course_path(@school_year, course), class: "button" %>
      <% end %>
      <% if current_user.administrator? %>
        <%= link_to "Supprimer", school_year_course_path(@school_year, course), method: :delete, confirm: "Êtes-vous sûr de vouloir définitivement supprimer ce cours ? Toutes les données associées seront perdues !", class: "button icon trash" %>
      <% end %>
    </p>
  </div>
  
</article>
