<% title @school_year %>

<header>
  <h1><%= @school_year %> / &Eacute;léments constitutifs</h1>
</header>

<%= render 'shared/flash_messages' %>

<section class="filters">
  Filtrer par &raquo;
  <ul>
    <% Course::Filters.each do |filter| %>
      <% selected = params[:filter] == filter[:filter] %>
      <li class="<%= selected ? 'selected' : '' %>">
      <% if selected %>
        <%= filter[:name] %>
      <% else %>
        <%= link_to filter[:name], school_year_courses_path(@school_year, filter: filter[:filter]) %>
      <% end %>
      </li>
  <% end %>
  </ul>
</section>

<%= @course_list.render self %>
