<% title @active_school_year %>

<header>
  <h1><%= @active_school_year %> / Unités d'enseigments</h1>
</header>

<%= render 'shared/flash_messages' %>

<section class="filters">
  Filtrer par &raquo;
  <ul>
    <li style="font-weight: bold;">Semestre</li>
    <li><%= link_to "Statut", root_path %></li>
    <li><%= link_to "Responsable", root_path %></li>
  </ul>
</section>

<section class="semesters">

  <% @semesters.each do |sem| %>

    <article class="semester">

      <% if current_user.administrator? %>
        <section class="new-course">
          <div class="add-course">
            <%= link_to "Ajouter une U.E &rarr;".html_safe, root_path, :class => 'show-form' %>
          </div>
        </section>
      <% end %>

      <header>
        <h2>Semestre <%= sem.name %></h2>
      </header>
    
      <% @is_course_semester = @course.semester_id == sem.id %> 

      <% if @course.errors.any? && @is_course_semester %>
        <p class="error">
          <% @course.errors[:name].each do |e| %>
            <strong class="error"><%= @course.errors.full_message(:name, e) %></strong><br />
          <% end %>
        </p>
      <% end %>

      <%= form_for @course, html: { class: 'inline-form new-course-form', style: @is_course_semester ? 'display: block;' : '' } do |f| %>
        <div class="fields">
          <div class="field">
            <%= f.text_field :name, placeholder: "Nom de l'unité", class: 'form-name' %>
            <%= hidden_field_tag :semester_id, sem.id %>
            <%= f.submit "Créer &rarr;".html_safe %> ou <a href="" class="cancel-form">annuler</a> 
          </div>
        </div>
      <% end %>

    <% if sem.courses.empty? %>
      <p class="notice">Aucune matière n'a été ajoutée à ce semestre.</p>
    <% else %>
      <section class="courses">

        <% sem.courses.each do |course| %>

          <% css_class = (course.conflict?) ? "warning" : (course.candidates.count > 0 || course.assigned? ) ? "valid" : "nobody" %>
          <% img_prefix = (css_class == "warning" || css_class == "valid") ? "white_" : "" %>

          <article class="course <%= css_class %>">
            <img class="show-details" src="assets/<%= img_prefix %>plus_alt_16x16.png" alt="+" />
            <h3><%= course.name %></h3>

            <p class="informations">
              <% if course.candidates.empty? %>
                <% if course.assigned? %>
                  <%= course.manager.name %>
                <% else %>
                  <em>Aucun postulant</em>
                <% end %>
              <% else %>
                <%= pluralize(course.candidates.count, "postulant") %>
              <% end %>
            </p>

            <div class="details">
              <div class="candidates">
                <% if course.candidates.empty? %>
                  <% if not course.assigned? %>
                    <em>Aucun postulant</em>
                  <% end %>
                <% else %>
                  <ul>
                    <% course.candidates.each do |p| %>
                      <li>
                        <%= link_to p.name, root_path %>
                        <span class="actions">
                          <% if current_user.administrator? %>
                            (
                            <%= link_to "Désigner responsable", choose_course_manager_path(course, p), method: :post %>
                            <%= link_to "Supprimer de la liste", dismiss_candidate_path(course, p), method: :post %>
                            )
                          <% end %>
                        </span>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
              <p class="actions <%= css_class %>">
                <% if current_user.administrator? %>
                  <%= link_to "Supprimer", course, method: :delete, confirm: "Êtes-vous sûr de vouloir définitivement supprimer ce cours ? Toutes les données associées seront perdues !", class: "button icon trash" %>
                <% else %>
                  
                <% end %>
              </p>
            </div>
            
          </article>
        <% end %>

      </div>
    <% end %>
    </article>
  <% end %>
  </div>
</section>
