<article class="activity">
  <%= image_tag 'plus_alt_16x16.png', alt: '+', class: 'show-details' %>
  <h3><%= "#{activity.course.name} / " if show_course_name %><%= activity.type %></h3>

  <p style="" class="informations">
    &rarr; <span class="manager-name" style="background-color: #1C4270;"><%= pluralize(activity.groups, 'groupe') %></span>
    <span class="manager-name" style="background-color: #AB8F2B;"><%= pluralize(activity.duration, 'heure') %> / groupe</span>
  </p>

  <div class="details">

    <% unless activity.assigned? %>
      <h4>Candidats</h4>
      <div class="candidates">
        <% if activity.candidates.any? %>
          <ul>
            <%= render partial: "teachers/activity_candidate_item", collection: activity.candidates, as: :candidate, locals: { activity: activity } %>
          </ul>
        <% else %>
          <em>Aucun candidat pour le moment.</em>
        <% end %>
      </div>
    <% end %>

    <h4>Enseignants</h4>
    <div class="teachers">
      <% if activity.teachers.any? %>
        <ul>
          <%= render partial: "teachers/activity_teacher_item", collection: activity.teachers, as: :teacher, locals: { activity: activity } %>
        </ul>
      <% else %>
        <em>Aucun enseignant n'a été désigné pour le moment.</em>
      <% end %>
    </div>

    <p class="actions">
      <% unless activity.assigned? %>
        <% if can? :apply, activity %>
          <% if current_user.applied_to_activity_teaching? activity %>
            <%= link_to "Retirer ma candidature", withdraw_activity_teaching_application_school_year_course_activity_path(activity.course.semester.school_year, activity.course, activity), method: :post, class: 'button' %>
          <% else %>
            <%= link_to "Postuler", apply_to_activity_school_year_course_activity_path(activity.course.semester.school_year, activity.course, activity), method: :post, class: 'button' %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.teaches? activity %>
          <%= link_to "Démissionner", resign_as_teacher_school_year_course_activity_path(activity.course.semester.school_year, activity.course, activity), method: :post, class: 'button' %>
      <% end %>
      <% if can? :pick_teacher, activity %>
          <%= link_to "Choisir un enseignant", pick_teacher_school_year_course_activity_path(activity.course.semester.school_year, activity.course, activity), class: 'button' %>
      <% end %>
      <% if can? :destroy, activity %>
        <%= link_to "Supprimer", school_year_course_activity_path(activity.course.semester.school_year, activity.course, activity), method: :delete, confirm: "Êtes-vous sûr de vouloir définitivement supprimer cette activité ? Toutes les données associées seront perdues !", class: "button icon trash" %>
      <% end %>
    </p>
  </div>
  
</article>
