<div class="field">
  <%= t.label :type, "Type :" %>
  <%= t.select(:type, options_for_select([['Cours', 'Cours'], ['TD', 'TD'], ['TP', 'TP'], ['Projet', 'Projet']], @activity.type))  %>
  <p class="description">
    <%= render 'shared/form_error', resource: @activity, field: :type %>
  </p>
</div>
<div class="field">
  <%= t.label :groups, "Nombre de groupes :" %><br />
  <%= t.text_field :groups %>
  <p class="description">
    <%= render 'shared/form_error', resource: @activity, field: :groups %>
  </p>
</div>

<div class="field">
  <%= t.label :duration, "Durée de l'activité (e.g 1,5 pour 1h30) :" %><br />
  <%= t.text_field :duration %>
  <p class="description">
    <%= render 'shared/form_error', resource: @activity, field: :duration %>
  </p>
</div>
