<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= content_for?(:title) ? yield(:title) : "" %> TimetablesOnRails</title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ressources dédiées à l'apprentissage et au perfectionnement des techniques et outils de développement informatique." %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	  <section>
      <nav>
        <%= link_to "Tableau de bord", root_path %> |
        <%= link_to "Déconnexion", sign_out_path, :id => "signout_link", :class => "last" %>
      </nav>
		</section>
		<%= link_to image_tag('logo.png'), root_path, :height => 96, :width => 256 %>
	</header>

  <section>
    <%= yield %>
  </section>

</body>
</html>
