<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= content_for?(:title) ? yield(:title) : "" %> - TimetablesOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <nav class="nav-tools">
      <%= ActiveSchoolYearLinkPresenter.render self %>
      <%= link_to "Enseignants", teachers_path %>
      |
      <%= link_to "Tableau de bord", root_path %>
      |
      <%= link_to "(#{current_user.username})", root_path %>
      <%= link_to "Déconnexion", sign_out_path, class: "warning" %> 
    </nav>
		<%= link_to image_tag('logo.png'), root_path, :height => 96, :width => 256 %>
	</header>

  <section>
    <%= yield %>
  </section>

  <section id="help_message">
    <p>Besoin d'aide ? <a href="mailto:gabriel.malkas@insa-rennes.fr">Contacter le responsable technique</a></p>
  </section>
</body>
</html>
