<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= content_for?(:title) ? yield(:title) : "" %> - TimetablesOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if alert %>
    <p class="error">
      <%= alert %>
    </p>
  <% end %>
	<header>
    <nav class="nav-tools">
      <%= link_to "Année en cours", active_school_year_path %>
      <%= link_to "Enseignants", root_path %>
      |
      <%= link_to "Tableau de bord", root_path %>
      |
      <%= link_to "(#{current_user.username})", root_path %>
      <%= link_to "Déconnexion", sign_out_path, class: "warning" %> 
    </nav>
		<%= link_to image_tag('logo.png'), root_path, :height => 96, :width => 256 %>
	</header>

  <section>
    <%= yield %>
  </section>

</body>
</html>
